:root {
  --Page-backgroundColor: #cddeee;
  --Header-backgroundColor: #38598b;
  --Footer-backgroundColor: rgb(51, 66, 87);
  --ChartContent-barChart--odd-backgroundColor: #9f4b7a;
  --ChartContent-barChart--even-backgroundColor: #aeddcd;
  --EUR--smallMediaWidth: 23.39%;
  --USD--smallMediaWidth: 27.41%;
  --BGN--smallMediaWidth: 45.35%;
  --GEL--smallMediaWidth: 85.26%;
  --QAR--smallMediaWidth: 100%;
}

main, footer, p, body, h1, h2, h3, div, header, ul, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 */

.Page {
  background: var(--Page-backgroundColor);
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Page-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.Header {
  height: 5em;
  background: var(--Header-backgroundColor);
  display: flex;
  justify-content: space-between;
  padding-right: 0em;
}

.Header-title {
  font-weight: 400;
  font-size: 26px;
  color: beige;
  text-transform: uppercase;
  align-self: center;
  padding-left: .5em;
}

.ChartContent {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  height: calc(100vh - 8em);
  border: .5em solid black;
  background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
}

.ChartContent-container {
  height: 100%;
  position: relative;
  display: flex;
}

.ChartContent-barChart {
  color: white;
  padding-top: .4em;
  font-weight: 800;
  width: 7em;
  text-align: center;
  align-self: flex-end;
  border-radius: .5em .5em 0 0;
  border-top: 9px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 5px 1px 5px grey;
}

.ChartContent-container:nth-of-type(even) .ChartContent-barChart {
  background: var(--ChartContent-barChart--even-backgroundColor);
  color: black;
}

.ChartContent-container:nth-of-type(odd) .ChartContent-barChart {
  background: var(--ChartContent-barChart--odd-backgroundColor);
}

.Footer {
  height: 3em;
  padding-left: .3em;
  padding-top: .6em;
  background: var(--Footer-backgroundColor);
  color: white;
}

@keyframes disappearModal {
  0% {
    background: #28282b;
    box-shadow: 5px 5px 5px grey;
  }

  100% {
    transform: rotate(380deg);
    height: 4%;
    width: 7%;
    box-shadow: 15px 15px 15px black;
  }
}

.ChartContent-barChart:not(:hover) .Modal {
  animation: disappearModal 800ms normal forwards;
  animation-iteration-count: 1;
}

.Modal {
  display: none;
  background-color: #28282b;
  border-radius: .6em;
  position: absolute;
  left: -50%;
  top: 12em;
  width: 220px;
  height: 140px;
  padding: 6px 0 8px;
  text-align: center;
  z-index: 50;
  margin: 0;
  overflow-x: hidden;
  color: black;
  color: white;
  padding-top: 2em;
  box-shadow: 2px 3px 1px black;
}

.Modal.is-displayed {
  display: block;
}

@media only screen and (max-width:  950px) {
  html {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .ChartContent {
    flex-direction: column;
    justify-content: space-around;
  }

  .ChartContent-container {
    width: 100%;
  }

  .ChartContent-barChart {
    height: 5em;
    padding-top: 2em;
    padding-left: .5em;
    text-align: justify;
    align-self: center;
    border-radius: 0 .3em .3em 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 7px solid black;
    border-left: none;
  }

  .Modal {
    top: 5%;
    left: 7em;
  }

  .ChartContent-barChart.is-eurSize {
    width: var(--EUR--smallMediaWidth);
    height: 7em !important;
  }

  .ChartContent-barChart.is-bgnSize {
    width: var(--BGN--smallMediaWidth);
    height: 7em !important;
  }

  .ChartContent-barChart.is-usdSize {
    width: var(--USD--smallMediaWidth);
    height: 7em !important;
  }

  .ChartContent-barChart.is-qarSize {
    width: var(--QAR--smallMediaWidth);
    height: 7em !important;
  }

  .ChartContent-barChart.is-gelSize {
    width: var(--GEL--smallMediaWidth);
    height: 7em !important;
  }
}
