:root {
  --color1: rgb(51, 66, 87);
  --color2: rgb(94, 180, 170);
  --color3: rgb(51, 66, 50);
  --color4: rgb(51, 66, 70);
  --color5: rgb(51, 66, 100);
  --color6: #e7eaf6;
  --color7: #a2a8d3;
  --color8: #38598b;
  --color8b: #7e5ecb;
  --color9: #113f67;
  --EUR-media-width: 23.39%;
  --USD-media-width: 27.41%;
  --GEL-media-width: 85.26%;
  --QAR-media-width: 100%;
  --color20: rgb(27,79,79);
  --color21: rgb(92,99,149);
  --color41: rgb(38, 50, 56);
  --color42: rgb(55, 71, 79);
  --color43: rgb(69, 90, 100);
  --color44: rgb(84, 110, 122);
  --color45: rgb(96, 125, 139);
  --color46: rgb(120, 144, 156);
  --color47: rgb(144, 164, 174);
  --color48: rgb(176, 190, 197);
  --color49: rgb(207, 216, 220);
  --color50: rgb(236, 239, 241);
}

main, footer, p, body, h1, h2, h3, div, header, ul, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--color45);
  background: #7CB9E8;
  background: #cddeee;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-weight: 400;
  font-size: 37px;
  color: black;
  color: beige;
  text-transform: uppercase;
  padding-top: .35em;
  padding-left: .5em;
}

header {
  height: 5em;
  background: var(--color8);
  background: grey;
  background: #007FFF;
  background: #005f69;
  /* background: #eeddca;
 */
  display: flex;
}

header > ul {
  list-style-type: none;
}

main {
  height: 100%;
}

.BarChart {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  height: 100%;
  background: var(--color50);
  border: .5em solid black;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,222,200,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
}

.BarChart-fullBar {
  height: 100%;
  position: relative;
  display: flex;
}

.BarChart-bar {
  color: white;
  padding-top: .4em;
  font-weight: 800;
  width: 7em;
  text-align: center;
  align-self: flex-end;
  border-radius: .5em .5em 0 0;
  border-top: 9px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 5px 1px 5px grey;
}

.BarChart .BarChart-fullBar:nth-of-type(even) .BarChart-bar {
  background: var(--color47);
  background: royalblue;
  background: #eeddca;
  background: #6F4E37;
  background: #aeddcd;
  /* border-width: 1px 0 1px 0;border-style: solid black;
 */
  color: black;
}

.BarChart .BarChart-fullBar:nth-of-type(odd) .BarChart-bar {
  background: var(--color21);
  background: #9f4b8a;
}

footer {
  height: 3em;
  padding-left: .3em;
  padding-top: .6em;
  background: var(--color1);
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 8em);
}

@keyframes byemodal {
  0% {
    background: #28282b;
    box-shadow: 5px 5px 5px grey;
  }/*  }
10% {
  background: darkslategray;
}

20% {
  background: purple;
}

50% {
  left: 35em; *//* transform: rotate3d(1, 1, 1, 45deg);
 *//*   transform: rotate(180deg);
}

 

  100% {
    transform: rotate(360deg);
    display: none;
    /*  left: 50em;
    transform: rotate3d(1, 2, 1, 95deg); */

  100% {
    transform: rotate(380deg);
    height: 4%;
    width: 7%;
    box-shadow: 15px 15px 15px black;
  }
}

.BarChart-bar:not(:hover) .modal {
  animation: byemodal 800ms normal forwards;
  animation-iteration-count: 1;
}

.modal {
  display: none;
  background: white;
  background-color: #eee;
  background-color: var(--color4);
  background-color: lightblue;
  background-color: black;
  background-color: #28282b;
  border-radius: .6em;
  position: absolute;
  left: -18%;
  top: 10em;
  height: 0;
  width: 0;
  padding: 6px 0 8px;
  text-align: center;
  z-index: 50;
  margin: 0;
  overflow-x: hidden;
  color: black;
  color: white;
  padding-top: 2em;
  box-shadow: 2px 6px 1px black;
}

.showModal {
  display: block;
  width: 170px;
  height: 110px;
}

@media only screen and (max-width:  950px) {
  html {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .BarChart {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .BarChart-fullBar {
    width: 100%;
  }

  .BarChart-bar {
    height: 5em;
    padding-top: 2em;
    padding-left: 1em;
    text-align: justify;
    align-self: center;
    border-radius: 0 .3em .3em 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 7px solid black;
    border-left: none;
  }

  .modal {
    top: 20%;
    left: 7em;
  }

  .u-currency-eur .BarChart-bar {
    width: var(--EUR-media-width);
    height: 7em !important;
    max-height: 100%;
  }

  .u-currency-usd .BarChart-bar {
    width: var(--USD-media-width);
    height: 7em !important;
    max-height: 100%;
  }

  .u-currency-qar .BarChart-bar {
    width: var(--QAR-media-width);
    height: 7em !important;
    max-height: 100%;
  }

  .u-currency-gel .BarChart-bar {
    width: var(--GEL-media-width);
    height: 7em !important;
    max-height: 100%;
  }
}
